<div class="container" style="background-image: url('<%= cl_image_path @cocktail.photo %>')">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text">
      <h1><%= @cocktail.name %><!-- <small><%= link_to ('<i class="fa fa-trash" aria-hidden="true"></i>').html_safe, cocktail_path(@cocktail), method: :delete,
      data: { confirm: "Are you sure?" } %></small> --></h1>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %> de <%= dose.ingredient.name %> <%= link_to ('<i class="fa fa-trash" aria-hidden="true"></i>').html_safe, dose_path(dose), method: :delete,
      data: { confirm: "Are you sure?" } %></li>
        <% end %>
      </ul>
     <!--  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %> -->
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, placeholder: "6cl" %>
        <%= f.association :ingredient, prompt: "Select an ingredient" %>
        <%= f.submit "Add an ingredient", class: "btn btn-primary" %>
      <% end %>
     <div class="back"> <%= link_to 'Back', cocktails_path %></div>
    </div>
  </div>
</div>
